body{
    color: white;
    background-image: url("../image/background.jpg");
    font-size: 25px;
    text-align: center;
    height: 100%;
}

body label{
    border-radius: 2px;
    border-color: black;
}
header{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
}
#campo-de-texto{
   
    width: 430px;
}
#ingresar:hover{
    background-color: pink;
    color: white;
    border: 10px black;
}

h1:hover{
    color: pink;
}

#respuesta{
    height: 330px;
    width: 625px;
}